!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-responsive.min.css')
    script(src="javascripts/libs/bootstrap.min.js")
    script(src="javascripts/libs/requirejs-1.0.8.js", data-main="javascripts/main")
